
      body {
        background-image: url(https://images.wallpaperscraft.ru/image/pole_kukuruza_leto_124711_1280x720.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;

      }
