
body {
background-image: url(https://storage.ambarexport.ua/cache/1/iavHuUOLO3t6iH1cGVsTUV6CjJ8tMBXi.jpg?w=1600&fm=webp&s=94c1f9d119f4693adc97ca5b445d6878);
background-repeat: no-repeat;
background-attachment: fixed;

}
