
body{
  background-image: url(https://w-dog.ru/wallpapers/5/5/425518157982260/eda-zlak-kukuruza-vkusno-polezno-zheltyj-cvet.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
