  body {
        background-image: url(https://images.wallpaperscraft.ru/image/kukuruza_pole_nebo_panorama_pashnya_oblaka_tuchi_60245_1920x1080.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;

      }
